@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Customer KM01</h1>
    <p class="lead">Click link to view list of files on server</p>
    <p>@Html.ActionLink("List files", "Listfiles", "Filelist")</p>
</div>

