@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Customer KM01</h1>
    <p class="lead">Click link to view list of files on server</p>
    <p>@Html.ActionLink("List files KM01", "Listfileskm01", "Filelist")</p>
 </div>
<div class="jumbotron">
    <h1>Customer KM02</h1>
    <p class="lead">Click link to view list of files on server</p>
    <p>@Html.ActionLink("List files KM02", "Listfileskm02", "Filelist")</p>
</div>

